@import 'primeicons/primeicons.css';

@import "tailwindcss";
@tailwind utilities;
@layer components {
    .btn {
        @apply text-white font-bold py-2 px-4 rounded cursor-pointer;
    }

    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-700;
    }

    .btn-success {
        @apply bg-green-500 hover:bg-green-700;
    }

    .btn-danger {
        @apply bg-red-500 hover:bg-red-700;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}